button {
    cursor: pointer;
}

form {
    padding: 0px 15px;
}

.option {
    padding: 4px;
  /* cursor: pointer; */
}

.option:hover {
  /* cursor: pointer; */
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

label {
  cursor: pointer;
}

hr {
  opacity: 0.2;
  color: grey;
}

.option input {
    max-width: 65px;
    margin-right: 6px;
}

.option input[type="checkbox"]  {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.disabled-option {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}

.enabled-option {
  opacity: 1.0;
  transition: all 150ms ease-in-out;
}


h3 {
    color: grey;
    padding-top: 10px;
}

h4 {
  color: grey;
  text-align: center;
  opacity: 0.65;
  margin-left: 15px;
  padding-top: 10px;
  font-weight: 600;
}


 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.5px dotted grey; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1000 !important;
    bottom: 125%;
    left: 50%;
    /* margin-left: -60px; */
    margin-left: -80px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after  {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 


  #previewTitle{
    margin-top: 9px;
    cursor: pointer;
  }

button {
    margin-left: 6px;
    width: 100%;
    text-align: center;
    margin: 4px 0px !important;
    /* margin-right: 6px;
    margin-bottom: 12px;
    margin-top: 5px;
    margin-bottom: 5px; */
}

/* Collapsible settings headers */
/* Style the button that is used to open and close the collapsible content */
.collapsible-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 6px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible-header:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* .collapsible-header:after {
    content: '\02795'; 
    font-size: 10px;
    float: right;
}
  
.active:after {
    content: "\2796"; 
} */

#google-tiles-version {
  text-align: center;
}