button {
    cursor: pointer;
}

form {
    padding: 0px 15px;
}

.option {
    padding: 4px;
  cursor: pointer;
}

.option:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

label {
  cursor: pointer;
}

/* label {
  cursor: pointer;
  padding: 4px 0px;
}

label:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all 200ms ease-in-out;
} */

.option input {
    max-width: 65px;
    margin-right: 6px;
}

.option input[type="checkbox"]  {
  cursor: pointer;
}

.disabled-option {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}

.enabled-option {
  opacity: 1.0;
  transition: all 150ms ease-in-out;
}


h3 {
    color: grey;
    padding-top: 10px;
}

h4 {
  color: grey;
  text-align: center;
  opacity: 0.65;
  margin-left: 15px;
  padding-top: 30px;

}


 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after  {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 


  #previewTitle{
    margin-top: 9px;
    cursor: pointer;
  }

  #previewTitle:hover{
    text-decoration:underline;
  }

  #footer-buttons {
    display: flex;
    /* padding-top: 30px; */
}

button {
    margin-left: 6px;
    width: 100%;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 12px;
}

   /* Style the collapsible content. Note: hidden by default */
  /* .collapsible {
    margin-top: 25px;
    margin-bottom: 5px;
  }
 
  .content {
    padding: 6px 18px;
    margin-bottom: 15px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .content p {
    color: grey;
  }

  .collapsible:after {
    content: '\02795'; 
    font-size: 10px;
    color: grey;
    float: right;
  }
  
  .active:after {
    content: "\2796"; /
  } */