/* Regular search result styling */
.g, .g-blk, [class^='g ']{
    position: relative; /* needed for correct placement of absolute index hints */
    background-color: var(--gtiles-tile-background);
    border: var(--gtiles-tile-border);
    border-radius: var(--gtiles-tile-border-radius);
    transition: var(--gtiles-transition);
    padding: var(--gtiles-tile-padding) !important;
    margin: var(--gtiles-tile-margin) !important;
    box-shadow: var(--gtiles-tile-shadow);
    width: var(--gtiles-tile-width) !important;
}

/* Regular search result link wrapper */
#g-tile {
    /* color: black; */
    outline: none !important;text-decoration: none !important;text-decoration-color: transparent !important; border: 0 !important;
}

.remove-text-decoration h3{
    text-decoration: none !important;
}

/* Focused tile dot indicator */
.g-tile-focused-tile-dot {
    height: 10px; width: 10px; border-radius: 50%; float: left; position: relative; left: -40px;
}

/* Counter index hint */
#g-tile-counter-hint {
    color: var(--gtiles-counter-color);
    opacity: var(--gtiles-counter-opacity);
    position:absolute;
    transition: all 300ms ease-out;
}

/* Top bar height placeholder before it's moved to searchbar */
#hdtb {
    max-height: var(--gtiles-topbar-max-height) !important;
}

/* Translate button margin */
.g [class*='fl '] {
    margin-left: 6px;
}

/* General styling for sidebar */
#rhs {
    max-width: var(--gtiles-sidebar-width) !important;
}

#g-tiles-sidebar {
    position: absolute;
    top: 0;
    padding-top: 0px;
    min-width: var(--gtiles-sidebar-width) !important;
}

/* Styling for sidebar widgets */
/* #rhs > div:not(.cu-container),  #rhs > g-section-with-header, #rhs > span > div { */
#rhs.stylized-sidebar > div:not(.cu-container),  #rhs.stylized-sidebar > g-section-with-header, #rhs.stylized-sidebar > span > div {
    box-sizing: border-box !important;
    background-color: var(--gtiles-tile-background) !important;
    border: var(--gtiles-tile-border) !important;
    border-radius: var(--gtiles-tile-border-radius);
    padding: var(--gtiles-tile-padding) !important;
    margin: var(--gtiles-tile-margin) !important;
    box-shadow: var(--gtiles-tile-shadow);
    width: var(--gtiles-tile-width) !important;
}

/* Add left padding for non-stylized sidebar */
#rhs:not(.stylized-sidebar) > div:not(.cu-container),  #rhs:not(.stylized-sidebar) > g-section-with-header, #rhs:not(.stylized-sidebar) > span > div {
    padding-left: var(--gtiles-tile-padding) !important;
}

#g-tiles-sidebar.stylized-sidebar > span > div, #g-tiles-sidebar.stylized-sidebar > span > g-section-with-header {
    background-color: var(--gtiles-tile-background);
    border: var(--gtiles-tile-border);
    border-radius: var(--gtiles-tile-border-radius);
    transition: var(--gtiles-transition);
    padding: var(--gtiles-tile-padding) !important;
    margin: var(--gtiles-tile-margin) !important;
    box-shadow: var(--gtiles-tile-shadow);
    width: var(--gtiles-tile-width) !important;
    max-width: var(--gtiles-sidebar-child-width) !important;
}

/* Fix for widget image overflow (maps widget suffers from this the most) */
 #rhs > span > div div, #g-tiles-sidebar div div  {
    max-width: var(--gtiles-sidebar-child-width) !important;
}

#g-tiles-sidebar div a[style*='height'], #rhs div a[style*='height'] {
    height: auto !important;
}

/* a > g-img > img  { */
#g-tiles-sidebar div a[style*='height'] > g-img > img, #rhs div a[style*='height'] > g-img > img {
    max-width: var(--gtiles-sidebar-child-width); 
    min-width: var(--gtiles-sidebar-child-width); 
    height: auto !important;
    border-radius: var(--gtiles-tile-image-border-radius);
}

/* Search suggestions container */
#botstuff div {
    margin: 0 !important;
}

/* Fix right margin for accordeon tiles */
#botstuff .ngjNee {
    margin-right: 16px !important;
}

/* Add padding for top labels */
[id='result-stats'] {
    padding: var(--gtiles-navbar-padding);
}

[id='top_nav']{
    padding: var(--gtiles-navbar-padding);
}

/* Remove inside decorations on some search widgets */
[class$='vk_c'],  #rhs [class*='g-blk'], #g-tiles-sidebar [class*='g-blk'] .xpd {
    background-color: transparent;margin: 0px !important; padding: 0px;border: none !important; outline: none !important;
}

[class*='g-blk'] > div {
    border: none !important;
}

/* Fix 'Show all' button width (commonly seen in image & video results widget) */
g-more-link > a{
    width: 100%;
    padding-top: 12px;
}

/* Fix for overflowing g cards in accordion knowledge widget */
.xpdopen .g {
    box-sizing: border-box !important;
}

/* Revert styles for '.g' cards wrapped in another '.g' card (grid links result) */
.g .g {
    all:revert;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
}

/* Remove news card styling */
.g g-card {
    margin: 0px;
    border: none;
}

/* G-card with overriden width value */
.nofullwidth {
    width: unset !important;
}

/* Fix for h3 headers smtimes being too small when result was moved to sidebar */
/* .nofullwidth h3 { */
#rhs h3 {
    font-size: 20px;
}

/* Favicon styling */
.favicon {
    height: var(--gtiles-favicon-radius);
    width: var(--gtiles-favicon-radius);
    padding-right: 5px;
    vertical-align: text-top;
}

.favicon-loading-spinner {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/spinner.gif'); 
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Styling for top bar with categories, moved to search bar */
.moved-top-bar {
    position: absolute !important;
    justify-content: start !important;
    top: 10px;
    right: 12%;
    margin-left: 0;
}

/* Fix for Twitter card styling */
.V0XQK {
    top: 0 !important;
    left: 0 !important;
}

g-inner-card {
    background-color: transparent !important;
}

/* Fix for hover bg of 'short answer from network' card */
.kp-blk {
    background-color: transparent !important;
}