/* Regular search result styling */
/* .g,.g-blk,[class^='g '] */
#rso .g, #botstuff .g, #g-tiles-sidebar .g-tile .g
 {
    position: relative;
    /* needed for correct placement of absolute index hints */
    background-color: var(--gtiles-tile-background-color);
    border: var(--gtiles-tile-border);
    border-radius: var(--gtiles-tile-border-radius);
    transition: var(--gtiles-transition);
    padding: var(--gtiles-tile-padding) !important;
    margin: var(--gtiles-tile-margin) !important;
    box-shadow: var(--gtiles-tile-shadow);
    width: var(--gtiles-tile-width) !important;
    box-sizing: content-box;
    left: calc(-1 * var(--gtiles-tile-padding)) !important;
}

/* Regular search result link wrapper */
.g-tile {
    /* color: black; */
    outline: none !important;
    text-decoration: none !important;
    text-decoration-color: transparent !important;
    border: 0 !important;
    position: relative;
}

.remove-text-decoration h3 {
    text-decoration: none !important;
}

/* set tile background color */
.g-tile .g {
    background-color: var(--gtiles-tile-background-color);
}

.g-tile:hover .g {
    background-color: var(--gtiles-tile-hover-background-color) !important;
}

/* highlight title on hover */
.g-tile .g.highlightTitleOnHover:hover h3 {
    color: var(--gtiles-tile-hover-title-color) !important;
}


/* Counter index hint */
.g-tile .g-tile-counter-hint {
    color: var(--gtiles-counter-color);
    opacity: var(--gtiles-counter-opacity);
    position: absolute;
    transition: all 300ms ease-out;
    /* right: var(--gtiles-tile-padding); */
    left: -42px;
    top: var(--gtiles-tile-padding);
}

/* Top bar height placeholder before it's moved to searchbar */
#hdtb {
    max-height: var(--gtiles-topbar-max-height) !important;
}

/* Translate button margin */
.g [class*='fl '] {
    margin-left: 6px;
}

/* General styling for sidebar */
#rhs {
    max-width: var(--gtiles-sidebar-width) !important;
}

#g-tiles-sidebar {
    position: absolute;
    top: 0;
    padding-top: 0px;
    max-width: var(--gtiles-sidebar-width) !important;
    left: calc(var(--center-width) + var(--rhs-margin));
    overflow: hidden;
}

/* #g-tiles-sidebar * {
    max-width: var(--gtiles-sidebar-width) !important;
} */

/* Fix right margin for accordeon tiles */
#botstuff .ngjNee {
    margin-right: 16px !important;
}

/* Add padding for top labels */
[id='result-stats'] {
    padding: var(--gtiles-navbar-padding);
}

[id='top_nav'] {
    padding: var(--gtiles-navbar-padding);
}

/* Remove inside decorations on some search widgets */
[class$='vk_c'],
#rhs [class*='g-blk'],
#g-tiles-sidebar [class*='g-blk'] .xpd {
    background-color: transparent;
    margin: 0px !important;
    padding: 0px;
    border: none !important;
    outline: none !important;
}

[class*='g-blk']>div {
    border: none !important;
}

/* Fix 'Show all' button width (commonly seen in image & video results widget) */
g-more-link>a {
    width: 100%;
    padding-top: 12px;
}

/* Fix for overflowing g cards in accordion knowledge widget */
.xpdopen .g {
    box-sizing: border-box !important;
}

/* Revert styles for '.g' cards wrapped in another '.g' card (grid links result) */
.g .g {
    all: revert;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
}

/* Remove news card styling */
.g g-card {
    margin: 0px;
    border: none;
}

/* Vertical align for url bar */
.g cite {
    vertical-align: text-bottom;
}

/* G-card with overriden width value */
.nofullwidth {
    width: unset !important;
}

/* Fix for h3 headers smtimes being too small when result was moved to sidebar */
/* .nofullwidth h3 { */
#rhs h3 {
    font-size: 20px;
}

/* Favicon styling */
.favicon {
    height: var(--gtiles-favicon-radius);
    width: var(--gtiles-favicon-radius);
    margin-right: 5px;
    /* vertical-align: text-top; */
    vertical-align: baseline;
}

.favicon-loading-spinner {
    /* background-image: url('chrome-extension://__MSG_@@extension_id__/assets/spinner.gif');  */
    background-image: var(--gtiles-spinner-placeholder-url);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styling for top bar with categories, moved to search bar */
.moved-top-bar {
    position: absolute !important;
    justify-content: start !important;
    top: 10px;
    right: 12%;
    margin-left: 0;
    left: 41%;
}

/* Fix for Twitter card styling */
.V0XQK {
    top: 0 !important;
    left: 0 !important;
}

g-inner-card {
    background-color: transparent !important;
}

/* Fix for hover bg of 'short answer from network' card */
.kp-blk {
    background-color: transparent !important;
}

/* Fix for first news tile image overflowing */
div.YEMaTe {
    width: unset !important;
    height: unset !important;
}

/* Fix for cite and favicon displaced in youtube search result */
.ct3b9e {
    position: relative;
}

/* Make google images visible again */
.RYdNQb div {
    display: revert !important;
}



/* Focused tile dot indicator */
.g-tile.add-focused-dot:focus .g::before {
    content: "";
    position: absolute;
    display: inline;
    top: 50%;
    left: -42px;    
    border-radius: 50%;
    background-color: var(--gtiles-keyboard-focus-border-color);
    opacity: var(--gtiles-focused-tile-dot-opacity);
    height: 10px;
    width: 10px;
}


/* Remove unwanted bottom margin for some results */
.ULSxyf, .hlcw0c:not(:has(.g)) {
    margin-bottom: var(--gtiles-tile-external-padding) !important;
}
.hlcw0c {
    margin-bottom: 0 !important;
}

#kp-wp-tab-overview > div[jsdata]:not(:has(div[aria-level="2"])) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

g-section-with-header.ULSxyf {
    margin-bottom: var(--gtiles-tile-external-padding) !important;
    margin-top: var(--gtiles-tile-external-padding) !important;
}

/* special handling for youtube search results */
.g:has(div[data-vid]) .notranslate.HGLrXd.NJjxre.iUh30.ojE3Fb {
    margin-top: var(--gtiles-tile-padding) !important;
    margin-left: var(--gtiles-tile-padding) !important;
}
.Jb0Zif .cLjAic.K7khPe {
    margin: 0;
}

/* make image gallery border radius consistent with extension settings  */
.xte2qe.OXEsB.o6uAG {
    border-radius: var(--gtiles-tile-border-radius) !important;
}

/* Fix annoying huge Twitter cards */
g-scrolling-carousel g-inner-card div[role="heading"] {
    max-height: 60px !important;
    overflow: hidden;
}

/* Hide the 'number results found' line */
#appbar > div {
    visibility: var(--gtiles-results-found-line-visibility);
    height: var(--gtiles-results-found-line-height);
}
#appbar{
    visibility: var(--gtiles-results-found-border-visibility);
}

/* Remove border for google's sidebar search result */
.TQc1id .I6TXqe {
    border: 1px solid #dadce0;
    border: none;
}

#g-tiles-sidebar .g-tiles-proccessed {
    border-left: 1px solid #dadce0;
    padding: 15px;
}