.g {
    position: relative;
    background-color: var(--gtiles-tile-background);
    border: var(--gtiles-tile-border);
    border-radius: var(--gtiles-tile-border-radius);
    transition: var(--gtiles-transition);
    padding: var(--gtiles-tile-padding);
    margin: var(--gtiles-tile-margin) !important;
    box-shadow: var(--gtiles-tile-shadow);
    width: var(--gtiles-tile-width) !important;
}

#rhs > div:not(.cu-container) {
    background-color: var(--gtiles-tile-background);
    border: var(--gtiles-tile-border);
    border-radius: var(--gtiles-tile-border-radius);
    transition: var(--gtiles-transition);
    box-shadow: var(--gtiles-tile-shadow);
    max-width: 500px;
}

[id='result-stats'] {
    padding: var(--gtiles-navbar-padding);
}

[id='top_nav']{
    padding: var(--gtiles-navbar-padding);
}