 html, body {
  min-width: 120px;
}

button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
  width: 100%;
}

button img {
  position: relative; left: 0px; top: 2px;
}

h3 {
    color: grey;
    text-align: center;
}

input {
  vertical-align: middle;
}

.enabled-checkbox, .checkboxLabel {
    padding: 6px 0px 6px 0px;
    text-align: center;
    cursor: pointer;
}

.enabled-checkbox:hover {
  background-color: rgb(0,0,0,0.1);
  transition: all 200ms ease-in-out;
  border-radius: 3px;
}

#tilesEnabled {
  cursor: pointer;
}

#extension-version {
  text-align: center;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 3px;
}
